.article__container {
  text-decoration: none;
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
  /* border: 0.2rem solid var(--light-2); */
  /* border-top-left-radius: 1rem; */
  /* border-top-right-radius: 1rem; */
  /* border-bottom: none; */
  /* box-shadow: 0.15rem 0.15rem 0.3rem 0.02rem var(--shadow); */
  box-shadow: 0rem 0rem 0.4rem 0.09rem var(--gray-7);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--white); */
  background: linear-gradient(
    360deg,
    rgb(251, 251, 255) 0%,
    rgb(215, 223, 252) 42.84%
  );
  cursor: pointer;
  overflow: hidden;
  animation: easeIn 0.5s ease;
  transition: all 0.3s;
}

.article__container:hover {
  /* background-color: var(--light-4); */
  border-color: var(--gray-5);
  transform: scale(1.01);
  box-shadow: 0rem 0rem 0.6rem 0.1rem var(--gray-6);
}

.kuce {
  background-color: var(--kuce);
}
.stanovi {
  background-color: var(--stanovi);
}
.apartmani {
  background-color: var(--apartmani);
}
.vikendice {
  background-color: var(--vikendice);
}
.poslovni {
  background-color: var(--poslovni);
}
.sobe {
  background-color: var(--sobe);
}

@keyframes easeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
