.filters-container {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem 2rem;
  /* height: 4rem; */
  /* border-bottom: 0.1rem solid var(--light-2); */
  /* box-shadow: 0.15rem 0.15rem 0.5rem 0.05rem var(--shadow); */
  width: 100%;
  /* background-color: var(--gray-7); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active {
  background-color: var(--gray-7);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.filters-container p {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gray-4);
  letter-spacing: 0.05rem;
}

.filters-icon {
  border-radius: 0.5rem;
  height: 2.4rem;
  width: 2.4rem;
  color: var(--gray-3);
  cursor: pointer;
  transition: all 0.3s;
  border: 0.1rem solid var(--gray-4);
}

.icon-active:hover {
  /* background-color: var(--white) !important; */
  border: 0.1rem solid var(--gray-2);
}

.filters-icon:hover {
  /* background-color: var(--gray-7); */
  /* border-radius: 0.5rem; */
  color: var(--gray-1);
}
