.account__categories {
  transform: translateY(-1rem);
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  min-height: 3rem;
  border: 0.2rem solid var(--light-2);
  border-top: none;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--light-3);
  gap: 1rem;
  /* box-shadow: inset 0.15rem 0.15rem 0.5rem 0.05rem var(--shadow); */
}

.account__categorie {
  width: 25%;
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--gray-3);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1rem;
  background-color: var(--white);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem 0;
  box-shadow: 0.15rem 0.15rem 0.5rem 0.05rem var(--shadow);
  transition: all 0.3s;
}

.active {
  background-color: var(--color-blue);
  color: var(--white);
}

.account__categorie:hover {
  background-color: var(--light-4);
}

.active:hover {
  background-color: var(--color-blue);
}
