.article__stars {
  padding: 2rem;
  width: 100%;
  /* border: 0.1rem solid var(--light-2); */
  /* border-top: 1rem solid var(--color-blue); */
  /* box-shadow: 0.1rem 0.1rem 0.2rem 0.05rem var(--light-2); */
  /* margin-top: 1rem; */
  border: 0.1rem solid var(--gray-6);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.article__stars-title {
  width: 100%;
  letter-spacing: 0.1rem;
  padding: 0 0 2rem 0 !important;
  text-align: center;
  text-transform: uppercase;
  color: var(--gray-1);
  /* font-weight: 700 !important; */
  border-bottom: 0.1rem solid var(--gray-7) !important;
}

.article__stars-btn {
  /* width: 100%; */
  height: 5rem;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  font-family: "PT Sans", sans-serif;
  gap: 1rem;
  padding: 0 2rem;
  border-radius: 5rem;
  justify-self: end;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
}

.article__stars-btn:hover {
  box-shadow: 0.15rem 0.15rem 0.6rem 0.05rem var(--gray-5);
}

.article__stars-btn-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.article__stars-rating {
  height: 5rem;
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.article__stars-rating span {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: var(--gray-4);
}

.article__stars-footer {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article__stars-icon-star {
  width: 2rem;
  height: 2rem;
  color: var(--color-blue);
}
