.details-container {
  background-color: var(--gray-9);
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  /* box-shadow: 0.1rem 0.1rem 0.2rem 0.05rem var(--light-2); */
}

.details-container h2 {
  border: none;
  background-color: var(--white);
  text-align: center;
  border-radius: 5rem;
  box-shadow: none;
  font-size: 1.8rem;
  font-weight: 300;
}

.details-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}
