.header-logo {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: end;
  text-decoration: none;
  color: var(--color-blue);
  transition: all 0.3s;
}

.header-logo:hover {
  color: var(--color-orange-dark);
}

.header-logo h2 {
  /* text-transform: uppercase; */
  font-size: 1.6rem;
  margin: 0 0 0.5rem 0;
  padding-left: 1rem;
  padding-top: 100%;
}

.header-logo-img {
  height: 100%;
  width: 100%;
}
